* {
    padding: 0;
    margin: 0;
}

.left{
    height: 100%;
    position: fixed;
    background-color: rgb(29, 47, 49);
    width: 100px;
    text-align: center;
}

.Base1 img{
    padding-top:20px;
}

.circle{
    padding-top:260px;
}

.Base1 {
    border-radius: 50%;
    background-image: -moz-linear-gradient( 90deg, rgb(25,145,235) 0%, rgb(46,161,248) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(25,145,235) 0%, rgb(46,161,248) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(25,145,235) 0%, rgb(46,161,248) 100%);
    position: absolute;
    left: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
}

.Base2 {
    border-radius: 50%;
    background-image: -moz-linear-gradient( 90deg, rgb(127,91,230) 1%, rgb(157,143,227) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(127,91,230) 1%, rgb(157,143,227) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(127,91,230) 1%, rgb(157,143,227) 100%);
    position: absolute;
    left: 20px;
    top: 100px;
    width: 60px;
    height: 60px;
}

.Base2 img{
    padding-top: 13px;
}

.Base3 {
    border-radius: 50%;
    background-image: -moz-linear-gradient( -90deg, rgb(244,84,56) 0%, rgb(203,39,10) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(244,84,56) 0%, rgb(203,39,10) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(244,84,56) 0%, rgb(203,39,10) 100%);
    position: absolute;
    left: 20px;
    top: 180px;
    width: 60px;
    height: 60px;
}

.Base3 img{
    padding-top: 18px;
}

.left .down{
    bottom: 20px;
    left: 20px;
    position: absolute;
}

.left .down span{
    padding: 0 8px;
}

.center {
    position: fixed;
    box-sizing: border-box;
    background-color: rgb(34,44,60);
    color: rgb(183,192,205);
    height: 100%;
    left: 100px;
    width: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 30px;
}

.center ul{
    border-bottom: 1px solid #2a3547;
    overflow: hidden;
}

.center .menu{
    font-size: 16px;
    color: #5b6779;
    font-weight: 500;
    margin-top: 40px;
}

.menu img{
    float: right;

}

.center li{
    margin-bottom: 25px;
    font-size: 12px;
}

.center li img{
    padding-right: 8px;
}

.center .Dashboard{
    padding-bottom: 80px;
}

.center .goals{
    position: fixed;
    padding-top: 20px;
    box-sizing: border-box;
    bottom: 0;
    left: 100px;
    width: 250px;
    border-top: 1px solid #1d2531;
    text-align:center;
    height: 80px;
    background-color: #2a3547;
}

.center .goals span {
    font-size: 11px;
    padding: 0 6px;
}

.center .goals .leftone {
    background-color: rgb(71, 83, 100);
    opacity: 0.302;
    position: absolute;
    left: 20px;
    top: 55px;
    width: 190px;
    height: 4px;
  }
  .center .goals .rightone {
    background-image: -moz-linear-gradient( 0deg, rgb(127,91,230) 1%, rgb(157,143,227) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(127,91,230) 1%, rgb(157,143,227) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(127,91,230) 1%, rgb(157,143,227) 100%);
    position: absolute;
    left:20px;
    top: 55px;
    width: 40px;
    height: 4px;
  }


.right {
    position: absolute;
    left: 350px;
    width: 999px;
}

.right .topside {
    box-sizing: block;
    height: 100px;

    border-bottom: 1px solid rgb(102,102,104,0.2);
}


.right .topside .facepic img{   
    border-radius: 50%;
    height: 50px;
    position: absolute;
    left: 700px;
    top: 30px;
}

@font-face{
    font-family: 'Montserrat';
    src: url("Montserrataaa.otf");
}

.right .topside h1{
    padding: 30px;
    font-family: Montserrat;
    font-size: 28px;
}

.right .topside h2{
    position: absolute;
    top: 35px;
    left: 770px;
    color: rgb(150,205,205);
    font-family: Montserrat;
    font-size: 15px;
}

.right .topside p{
    position: absolute;
    top: 58px;
    left: 770px;
    color: rgb(118, 141, 141);
    font-family: Montserrat;
    font-size: 12px;
}

.right .topside .dropdown img{
    position: absolute;
    top: 55px;
    left: 880px;
}

.right .first{

    display: inline-block;
    position: relative;
    height: 100%;
}

.right .first .leftone{
    width:400px;
    border-right: 1px solid rgb(102,102,104,0.2);
}

.right .first .leftone .button{
    box-sizing: block;
    width: 400px;
    height: 70px;
    border-bottom:1px solid rgb(102,102,104,0.2) ;
}

.right .first .leftone .button img{
    position: relative;
}

.right .first .leftone .button .icon {
    position: relative;
    top: 15px;
    left: 40px;
    width: 300px;
    height: 40px;
    padding: 20px 29px;
    border: 1px solid rgb(102,102,104,0.2);
    background: url(Search.png);
    background-repeat: no-repeat;
    background-position: 260px 14px;
}

.right .first .leftone .listname li{
    height: 130px;
    border-bottom: 1px solid rgb(102,102,104,0.2);
    box-sizing: block;
    padding: 18px 28px;
    overflow-x: hidden;
}

.right .first .leftone .listname li img{
    border-radius: 50%;
    height: 50px;
    position: relative;
    float: left;
    margin-right: 20px;
}


.right .first .leftone .listname .div1 h3{
    margin-top: 8px;
	font-size: 16px;
	color: #323335;
    font-weight: 400;
}

.right .first .leftone .listname .div1 span{
    font-size: 10px;
    float: right;
}

.first .leftone .listname .div1 h6{
    font-size: 10px;
    color: #585d68;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 20px;
}

.first .leftone .listname .div1 p{
    font-size: 10px;
    color: #585d68;
}

.right .rightone{
    position: absolute;
    width: 599px;
    top: 0;
    left: 400px;
    height: 100%;
}

.right .rightone .top2{
    height: 70px;
    border-bottom: 1px solid rgb(102,102,104,0.2);

}

.right .rightone .top2 h1{
    font-size: 17px;
    padding: 25px;
}

.right .rightone .top2 span{
    font-size: 13px;
    position: absolute;
    left: 450px;
    font-weight: 200;
}


.Status {
    border-radius: 50%;
    background-color: rgb(27, 185, 52);
    position: absolute;
    left: 140px;
    top: 33px;
    width: 8px;
    height: 8px;
}
  
.kuang {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(206, 208, 218);
    border-radius: 4px;
    background-image: -moz-linear-gradient( 90deg, rgb(241,243,247) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(241,243,247) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(241,243,247) 0%, rgb(255,255,255) 100%);
    position: absolute;
    left: 330px;
    top: 17px;
    width: 113px;
    height: 36px;
}

.right .rightone .top2 .kuang img{
    padding-left: 13px;
    padding-top: 10px;
}

.zuoyoutu {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(206, 208, 218);
  border-radius: 4px;
  background-image: -moz-linear-gradient( 90deg, rgb(241,243,247) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(241,243,247) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(241,243,247) 0%, rgb(255,255,255) 100%);
  position: absolute;
  left: 500px;
  top: 17px;
  width: 77px;
  height: 36px;
}

.right .rightone .main {

    
}

.right .rightone .top2 .zuoyoutu img{
    padding-left: 20px;
    padding-top: 14px;
}

.rightone .main h1{
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 20px;
}

.rightone .main img{
    border-radius: 50%;
    height: 50px;
    position: relative;
    margin-right: 20px;
    padding-left: 10px;
    float: left;
}

.rightone .main li{
    overflow: hidden;


}

.right .rightone p{
    font-size: 10px;
    color: #585d68;
    line-height: 1.2em;
    padding-left: 80px;
    padding-bottom: 30px;

}

.rightone .main h3{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}

.rightone .main span{
    font-size: 10px;
    padding-left: 30px;
    color: #585d68;
}

.main .last-message{
    border-bottom: 1px solid rgb(102,102,104,0.2);
}